*.DS_Store
*.tmproj
*~
.dotest
.idea
.rvmrc
.ruby-gemset
.ruby-version
.sass-cache/
.yardoc
/.bundle
/.emacs-project
/.redcar
/bin
/coverage
/db/*.db
/db/*.sqlite3
/log/*.log
/public/assets/
/tmp
config/deploy.rb
db/data.yml
nbproject
rerun.txt
tags
